@model CheckIn
<tr>
    <td>
        @Model.CheckInID
    </td>
    <td>
        @Model.Arrival.ToString("dd.MM.yyyy")
    </td>
    <td>
        @Model.Department.ToString("dd.MM.yyyy")
    </td>
    <td>
        @Model.RoomID
    </td>
    <td>
        @Model.LastName
    </td>
    <td>
        @Model.PhoneNumber
    </td>

    <td align="center">
        @if (Model.CustomerID <= 0)
        {
        <form asp-controller="Customer" asp-action="AddCustomerFilt" method="post">
            <input type="hidden" name="checkInID" value="@Model.CheckInID" />
            <input type="hidden" name="phone_number" value="@Model.PhoneNumber" />
            <input type="hidden" name="lastname" value="@Model.LastName" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button type="submit" class="btn btn-success btn-sm pull-right">
                Зарегистрировать
            </button>
        </form>
        }
        else
        {
            @Model.CustomerID
        }

    </td>
    <td align="center">
        <form asp-controller="CheckIn" asp-action="EditCheckIn" method="post">
            <input type="hidden" name="checkInID" value="@Model.CheckInID" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button type="submit" class="btn btn-success btn-sm pull-right">
                Редактировать
            </button>
        </form>
    </td>
    <td align="center">
        <form asp-controller="CheckIn" method="post">
            <input type="hidden" name="checkInID" value="@Model.CheckInID" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button type="submit" class="btn btn-danger btn-sm pull-right" asp-action="ConfirmDeleteCheckIn">
                Удалить
            </button>
        </form>
    </td>
</tr>