@model Room
<div class="well">
    
    <h3>
        <strong>Room Number № @Model.RoomID</strong>
        <span class="pull-right labele label-primary">
            @Model.Price.ToString("c")
        </span>
    </h3>
    <form id=" @Model.RoomID" asp-action="Edit" asp-controller="Edit" method="post">
        <input type="hidden" asp-for="RoomID" />
        <input type="hidden" name="returnUrl"
               value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="lead">
            @Model.Category
            <button type="submit" class="btn btn-success btn-sm pull-right">
                Delete
            </button>
            <button type="submit" class="btn btn-success btn-sm pull-right">
                Edit
            </button>
        </span>
    </form>


</div>