@model Service
<tr>
    <td align="center">
        @Model.ServiceID
    </td>
    <td>
        @Model.Category
    </td>
    <td>
        @Model.ServiceName
    </td>
    <td>
        @Model.Comments
    </td>
    <td>
        @Model.Price.ToString("c")
    </td>
    <td align="center">
        <form id="@Model.ServiceID" asp-controller="Service" asp-action="EditService" method="post">
            <input type="hidden" name="serviceID" value="@Model.ServiceID" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button type="submit" class="btn btn-success btn-sm pull-right">
                Редактировать
            </button>
        </form>
    </td>
    <td align="center">
        <form id="@Model.ServiceID" asp-controller="Service" asp-action="ConfirmDeleteService" method="post">
            <input type="hidden" name="serviceID" value="@Model.ServiceID" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button type="submit" class="btn btn-danger btn-sm pull-right">
                Удалить
            </button>
        </form>
    </td>
</tr>

