@model Supply
<tr>
    <td align="center">
        @Model.SupplyID
    </td>
    <td>
        @Model.ServiceID
    </td>
    <td>
        @Model.SupplyDate.ToString("dd.MM.yyyy")
    </td>
    <td>
        @Model.Quantity
    </td>
    <td>
        @Model.CheckInID
    </td>

    <td align="center">
        <form asp-controller="Supply" asp-action="EditSupply" method="post">
            <input type="hidden" name="supplyID" value="@Model.SupplyID" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button type="submit" class="btn btn-success btn-sm pull-right">
                Редактировать
            </button>
        </form>
    </td>
    <td align="center">
        <form asp-controller="Supply" asp-action="ConfirmDeleteSupply" method="post">
            <input type="hidden" name="supplyID" value="@Model.SupplyID" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button type="submit" class="btn btn-danger btn-sm pull-right">
                Удалить
            </button>
        </form>
    </td>
</tr>