@model SupplyViewModel
@{
    ViewBag.Title = "Редатировать предоставление";
}
<div class="modal-dialog">
    <h2>Редактировать запись номер @Model.Supply.SupplyID</h2>

    <form asp-action="UpdateSupply" method="post">
        <input type="hidden" asp-for="Supply.SupplyID" />
        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
        <div class="form-group">
            <label asp-for="Supply.ServiceID">Код услуги:</label>
            <input asp-for="Supply.ServiceID" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Supply.ServiceName">Название услуги:</label>
            <input asp-for="Supply.ServiceName" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Supply.Price">Стоимость услуги:</label>
            <input asp-for="Supply.Price" class="form-control" readonly />
        </div>
        <div>
            <table width="100%">
                <tr>
                    <th>Категория</th>
                    <th>Коментарий:</th>
                </tr>
                <tr>
                    <td>@Model.Service.Category</td>
                    <td>@Model.Service.Comments</td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <label asp-for="Supply.SupplyDate">Дата оказания услуги:</label>
            <input asp-for="Supply.SupplyDate" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Supply.Quantity">Количество:</label>
            <input asp-for="Supply.Quantity" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Supply.CheckInID">Номер брони:</label>
            <input asp-for="Supply.CheckInID" class="form-control" />
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Сохранить</button>
            <a href="@Model.ReturnUrl" class="btn btn-primary">Отмена</a>
        </div>
    </form>
</div>