@model CheckInViewModel
@{
    ViewBag.Title = "Добавить комнату";
}
<div class="modal-dialog">
    @if (TempData["message"] != null)
    {
        <div class="alert alert-danger">@TempData["message"]</div>
    }
    <h2>Добавить бронирование</h2>
    <p>Пожалуйста, заполните данные!</p>
    <form asp-action="AddCheckIn" method="post">
        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <div class="form-group">
            <label asp-for="CheckIn.RoomID">Номер комнаты:</label>
            <input asp-for="CheckIn.RoomID" class="form-control" readonly />
        </div>
     <div>
         <table width="100%">
                <tr>
                    <th>Категория</th>
                    <th>Кол-во мест</th>
                    <th>Цена</th>
                </tr>
                <tr>
                    <td>@Model.Room.Category</td>
                    <td>@Model.Room.Quantity</td>
                    <td>@Model.Room.Price</td>
                </tr>
            </table>
        </div>
     <div class="form-group">
         <label asp-for="CheckIn.Arrival">Дата заселения:</label>
         <input asp-for="CheckIn.Arrival" class="form-control" readonly />
     </div>
     <div class="form-group">
         <label asp-for="CheckIn.Department">Дата выезда:</label>
         <input asp-for="CheckIn.Department" class="form-control" readonly />
     </div>

        <div class="form-group">
            <label>Клиент</label>
            @*<div><span asp-validation-for="@Model.RoomID" class="text-danger"></span></div>
            <input asp-for="CheckIn.CheckInID" class="form-control" />*@
        </div>

        @*<div class="form-group">
            <label>Категория:</label>
            <div><span asp-validation-for="CheckIn.Category" class="text-danger"></span></div>
            <select asp-for="CheckIn.Category" class="form-control">
                <option selected disabled value="">Выберите категорию</option>
                <option value="Luxe">Luxe</option>
                <option value="Standart">Standart</option>
                <option value="Econom">Econom</option>
            </select>
        </div>
        <div class="form-group">
            <label>Количество мест:</label>
            <div><span asp-validation-for="CheckIn.Quantity" class="text-danger"></span></div>
            <input asp-for="CheckIn.Quantity" class="form-control" />
        </div>
        <div class="form-group">
            <label>Цена:</label>
            <div><span asp-validation-for="CheckIn.Price" class="text-danger"></span></div>
            <input asp-for="CheckIn.Price" class="form-control" />
        </div>*@
        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Добавить" asp-action="InsertCheckIn" />
            <a class="btn btn-primary" type="submit" href="@Model.ReturnUrl">Отмена</a>
        </div>
    </form>
</div>