@model CheckInViewModel
@{
    ViewBag.Title = "Удалить бронирование";
}
<div class="modal-dialog">
    <div class="modal-header">
    <h4>Удалить бронирование с кодом @Model.CheckIn.CheckInID</h4>
    </div>
    <form asp-action="DeleteCheckIn" method="post">
        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
        <input type="hidden" asp-for="CheckIn.CheckInID">
        <div class="form-group">
            <label asp-for="CheckIn.RoomID">Номер комнаты:</label>
            <input asp-for="CheckIn.RoomID" class="form-control" readonly />
        </div>
        <div>
            <table width="100%">
                <tr>
                    <th>Категория</th>
                    <th>Кол-во мест</th>
                    <th>Цена</th>
                </tr>
                <tr>
                    <td>@Model.Room.Category</td>
                    <td>@Model.Room.Quantity</td>
                    <td>@Model.Room.Price</td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <label asp-for="CheckIn.Arrival">Дата заселения:</label>
            <input asp-for="CheckIn.Arrival" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="CheckIn.Department">Дата выезда:</label>
            <input asp-for="CheckIn.Department" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label>Клиент</label>
            <input asp-for="CheckIn.LastName" class="form-control" readonly />
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Удалить</button>
            <a class="btn btn-primary" href="@Model.ReturnUrl">Отмена</a>
        </div>
    </form>
</div>
