@model CheckInsListViewModel
@{
    ViewBag.Title = "Брони";
}
<div class="row panel">

    <div id="categories" class="col-xs-2">
        @await Component.InvokeAsync("NavigationMenuCheckIn")
    </div>

    <div class="col-xs-8">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        <div class="panel-body">
            <form asp-action="AddCheckInFilt" asp-controller="CheckIn" method="post">
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit" class="btn btn-success btn-sm pull-right">
                    +Добавить запись
                </button>
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Код</th>
                    <th>Дата заселения</th>
                    <th>Дата выезда</th>
                    <th>Номер комнаты</th>
                    <th>Клиент</th>
                    <th>Номер телефона</th>
                    <th colspan="2" >Код клиента</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.CheckIns)
                { 
                    @Html.Partial("CheckInSummary",p)
                }
            </tbody>
        </table>
        <div page-model="@Model.PagingInfo" page-action="List"
             page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-default"
             page-class-selected="btn-primary" page-url-category="@Model.LastName" class="btn-group pull-right-right">
        </div>
    </div>
</div>



