@model CustomersListViewModel
@{
    ViewBag.Title = "Добавить клиента";
}
<div class="row panel">
    <div class="col-xs-2">
        @await Component.InvokeAsync("NavigationMenuAddCustomer")
    </div>

    <div class="col-xs-8">
        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        <div>
        <div style="float: left; width: 936px">
            <form asp-action="AddCustomer" asp-controller="Customer" method="post">
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <input type="hidden" name="checkInID" value="@Model.CheckInID" />
                <button type="submit" class="btn btn-success pull-right">
                    +Новый клиент
                </button>
            </form>
        </div>
            <div style="float: right">
                <a class="btn btn-primary" type="submit" asp-controller="CheckIn" asp-action="List">Отмена</a>    
            </div>

        </div>
        <table class="table">
            <thead>
                <tr>
                    <th width="10%" align="right">Код</th>
                    <th width="20%" align="right">Фамилия</th>
                    <th width="15%" align="right">Имя</th>
                    <th width="15%" align="right">Дата рождения</th>
                    <th width="15%" align="right">Номер телефона</th>
                    <th width="20%" align="right">Почта</th>
                </tr>
            </thead>
        </table>

        @foreach (var customer in Model.Customers)
        {
        <form asp-controller="Customer" asp-action="EditCustomer" method="post">
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <input type="hidden" name="checkInID" value="@Model.CheckInID" />
            <input type="hidden" name="customerID" value="@customer.CustomerID" />
            @*<input type="hidden" name="roomID" value="@room.RoomID" />
        <input type="hidden" name="arrival" value="@Model.Arrival" />
        <input type="hidden" name="department" value="@Model.Department" />*@
            <button type="submit" class=" btn-light btn-block">
                <div class="well">
                    <table width="100%">
                        <tr>
                            <td width="5% align="left">
                                @customer.CustomerID
                            </td>
                            <td width="20% align="left">
                                @customer.LastName
                            </td>
                            <td width="15% align="left">
                                @customer.FirstName
                            </td>
                            <td width="15% align="left">
                                @customer.BithDate.ToString("dd:MM:yyyy")

                            </td>
                            <td width="15% align="left">
                                @customer.PhoneNumber
                            </td>
                            <td width="20% align="left">
                                @customer.Email
                            </td>
                        </tr>
                    </table>
                </div>
            </button>
        </form>
        }
        <div page-model="@Model.PagingInfo" page-action="AddCheckInFilt"
             page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-default"
             page-class-selected="btn-primary" page-url-category="@Model.LastName" class="btn-group pull-right-right">
        </div>
    </div>
</div>