@model CustomersListViewModel
@{
    ViewBag.Title = "Список комнат";
}
<div class="row panel">

    <div id="categories" class="col-xs-2">
        @await Component.InvokeAsync("NavigationMenuCustomer")
    </div>

    <div class="col-xs-8">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        <div class="panel-body">
            <form asp-action="AddCustomer" asp-controller="Customer" method="post">
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit" class="btn btn-success btn-sm pull-right">
                    +Добавить клиента
                </button>
            </form>
        </div>
        <div>
            @foreach (var p in Model.Customers)
            {
                @Html.Partial("CustomerSummary", p)
            }
        </div>

        <div page-model="@Model.PagingInfo" page-action="List"
             page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-default"
             page-class-selected="btn-primary" page-url-category="@Model.LastName" class="btn-group pull-right-right">
        </div>
    </div>
</div>



