@model RoomsListViewModel
@{
    ViewBag.Title = "Список комнат";
}
<div class="row panel">
    <div id="categories" class="col-xs-2">
        @await Component.InvokeAsync("NavigationMenuRoom")
    </div>

    <div class="col-xs-8">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        <div class="panel-body">
            <form asp-action="AddRoom" asp-controller="Room" method="post">
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit" class="btn btn-success btn-sm pull-right">
                    +Добавить комнату
                </button>
            </form>
        </div>
        <div>
            @foreach (var p in Model.Rooms)
            {
                    @Html.Partial("RoomSummary", p)
             }
            </div>
        
        <div page-model="@Model.PagingInfo" page-action="List"
             page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-default"
             page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" class="btn-group pull-right-right">
        </div>

        @*
            <table class="table">
                <thead>
                    <tr>
                        <th>№ комнаты</th>
                        <th>Категория/коментарий</th>
                        <th>Колич-во мест</th>
                        <th>Состояние</th>
                        <th>Стоимость</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var room in Model.Rooms)
                    {
                    <tr>
                        <td align="center">
                            @room.RoomID
                        </td>
                        <td>
                            @room.Category
                            <br />
                            @room.Comments
                        </td>
                        <td align="center">
                            @room.Quantity
                        </td>
                        <td align="center">
                            @room.State
                        </td>
                        <td align="right">
                            @room.Price.ToString("c")
                        </td>
                        <td align="center">

                            <a asp-page="/Room/EditRoom" asp-route-id="@room.RoomID">Edit</a>
                            <form id=" @room.RoomID" asp-controller="Room" asp-action="EditRoom" method="post">
                                <input type="hidden" asp-for="@room" />
                                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                                <button type="submit" class="btn btn-success btn-sm pull-right">
                                     Редактировать
                                 </button>
                            </form>
                        </td>
                        <td align="center">
                            <form id=" @room.RoomID" asp-controller="Room" asp-action="ConfirmDeleteRoom" method="post">
                                <input type="hidden" asp-for="@room" />
                                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                                <button type="submit" class="btn btn-success btn-sm pull-right">
                                    Удалить
                                </button>
                            </form>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

            <div page-model="@Model.PagingInfo" page-action="List"
                 page-classes-enabled="true"
                 page-class="btn" page-class-normal="btn-default"
                 page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" class="btn-group pull-right-right">
            </div>
        </div>
        *@
    </div>



