@model ServicesListViewModel

@{
    ViewBag.Title = "Услуги";
}

<div class="row panel">

    <div id="categories" class="col-xs-2">
        @await Component.InvokeAsync("NavigationMenuService")
    </div>

    <div class="col-xs-8">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        <div class="panel-body">
            <form asp-action="AddService" asp-controller="Service" method="post">
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit" class="btn btn-success btn-sm pull-right">
                    +Добавить Услугу
                </button>
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Код</th>
                    <th>Категория</th>
                    <th>Наименование услуги</th>
                    <th>Коментарий</th>
                    <th>Стоимость</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.Services)
                {
                    @Html.Partial("ServiceSummary", p)
                }
            </tbody>
        </table>
        <div page-model="@Model.PagingInfo" page-action="List"
             page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-default"
             page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" class="btn-group pull-right-right">
        </div>
    </div>
</div>





@*
    @{
        ViewBag.Title = "Услуги";
    }

    <div class="row panel">

        <div id="categories" class="col-xs-3">
            @await Component.InvokeAsync("NavigationMenuService")
        </div>

        <div class="col-xs-8">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
            <div class="panel-body">
                <form asp-action="AddService" asp-controller="Service" method="post">
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <button type="submit" class="btn btn-success btn-sm pull-right">
                        +Добавить Услугу
                    </button>
                </form>
            </div>
            <div>
                @foreach (var p in Model.Services)
                {
                    @Html.Partial("ServiceSummary", p)
                }
            </div>

            <div page-model="@Model.PagingInfo" page-action="List"
                 page-classes-enabled="true"
                 page-class="btn" page-class-normal="btn-default"
                 page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" class="btn-group pull-right-right">
            </div>
        </div>
    </div>
*@